.modal {
  @apply fixed
  inset-0
  px-6
  flex
  items-center
  justify-center
  min-h-full;
  background: rgba(10, 12, 28, 0.5);
  backdrop-filter: blur(10px);
}
hr {
  color: #dbdbdb;
}

.modal-content {
  @apply bg-white
  w-full
  text-xs
  text-violet
  p-6
  max-w-[33.75rem]
  md:max-h-[37.5rem]
  lg:pb-10
  rounded-2xl;
}

.modal-header {
  @apply flex
  justify-between
  items-center
  pb-6;
}

.modal-header h5 {
  @apply font-bold
  text-xl
  text-haiti;
}

.modal-header i {
  color: #918b9f;
}

.modal-timing,
.modal-font {
  @apply py-6;
}

.modal-timing h5,
.modal-font h5,
.modal-colors h5 {
  @apply text-center
  uppercase
  font-bold
  text-xs
  tracking-[.25rem]
  md:text-base;
}

.timing {
  @apply pt-4
  flex
  flex-col
  gap-2
  md:flex-row
  md:gap-5;
}

.input-group {
  @apply flex
  items-center
  gap-2
  md:flex-col
  md:flex-1;
}

.input-group {
  @apply text-santas-grey
  font-bold
  text-xs;
}

.input-group span {
  @apply mb-1
  flex-1
  text-center
  md:text-base;
}

.input-group input {
  @apply flex-1
  bg-selago
  p-4
  w-52
  text-haiti
  font-bold
  text-sm
  rounded-lg
  md:text-base
  md:w-full;
  /*
  */
}

.fonts,
.colors {
  @apply flex
  justify-evenly
  pt-4
  items-center;
}

.fonts label,
.colors label {
  @apply block
  rounded-full
  cursor-pointer
  w-10
  h-10;
}
.fonts input,
.colors input {
  display: none;
}
.modal-content {
  @apply relative;
}

.modal-btn {
  @apply mt-4 w-full
  rounded-lg
  px-12
  py-5
  bg-radical-red
  text-white
  font-bold
  text-base
  capitalize
  disabled:cursor-not-allowed
  disabled:bg-santas-grey
  md:text-lg
  md:absolute
  md:w-36
  md:rounded-full;
}

@media screen and (min-width: 768px) {
  .modal-btn {
    inset-inline-start: 50%;
    inset-block-end: -30px;
    transform: translateX(-50%);
  }
}

.modal-font,
.modal-colors {
  @apply md:flex
  items-center
  justify-between;
}
.modal-colors {
  @apply pt-4;
}
.fonts,
.colors {
  @apply md:gap-4;
}
.modal label.active i {
  @apply block;
}

.radical-red {
  @apply bg-radical-red;
}
.cyan {
  @apply bg-cyan;
}

.magenta {
  @apply bg-magenta;
}

.modal-font label {
  @apply text-base
  relative
  bg-selago;
  color: #5b5072;
}

.modal-font label span {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

/* .modal-colors label {
  @apply flex
  items-center
  justify-center;
} */

.modal-colors label i {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* display: none; */
}

.modal-colors label.active i {
  opacity: 1;
}

label.kumbh {
  @apply font-kumbh-sans
  font-bold;
}
label.mono {
  @apply font-space-mono
  font-normal;
}
label.roboto {
  @apply font-roboto-slab
  font-bold;
}

.modal-font label.active {
  @apply bg-haiti
  text-white;
}
.message-error {
  @apply text-sm py-2;
  color: #ff8f8f;
}
.message-error ul {
  @apply py-1;
}

.message-error ul li {
  @apply font-bold;
}

.modal-font-kumbh-sans {
  @apply font-kumbh-sans;
}

.modal-font-roboto-slab {
  @apply font-roboto-slab;
}

.modal-font-space-mono,
.modal-font-mono-space {
  @apply font-space-mono;
}

.button-color-cyan {
  @apply bg-cyan;
}

.button-color-magenta {
  @apply bg-magenta;
}

.button-color-radical-red {
  @apply bg-radical-red;
}
.modal-timing .input-error input {
  color: #ff8f8f;
  border: 1px solid #ff8f8f;
}

.modal-timing .input-error span {
  color: #ff8f8f;
}

/*Tooltips*/
.modal-content label {
  @apply relative;
}

.modal-content label::before,
.modal-content label::after {
  @apply block
  opacity-0
  pointer-events-none
  relative;
}

/* Triangule */
.modal-content label::after {
  border-inline-end: 6px solid transparent;
  border-block-end: 6px solid rgba(0, 0, 0, 75);
  border-inline-start: 6px solid transparent;
  content: "";
  inset-block-start: 5px;
  inset-inline-start: 17px;
  inline-size: 0;
  block-size: 0;
}

.modal-content label::before {
  @apply font-kumbh-sans
text-base;

  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  color: #fff;
  content: attr(data-title);

  font-size: 14px;
  padding: 6px 10px;
  inline-size: 100px;
  text-align: center;
  inset-inline-start: -28px;
  inset-block-start: 45px;
  white-space: nowrap;
}

/* animation */
.modal-content label::after,
.modal-content label::before {
  transform: translate3d(0, -10px, 0);
  transition: all 0.15s ease-in-out;
}

.modal-content label:hover::after,
.modal-content label:hover::before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
