<section *ngIf="isShowModal" class="modal">
  <div class="modal-layer"></div>
  <form
    [@modal-content]
    [formGroup]="modalForm"
    class="modal-content animate__animated"
  >
    <div class="modal-header">
      <h5>settings</h5>
      <button (click)="toggleModal()">
        <i class="icon-close"></i>
      </button>
    </div>
    <hr />
    <div class="modal-timing">
      <h5>time (minutes)</h5>
      <div class="timing">
        <div
          [ngClass]="getErrorClass('input-error', timing.longName)"
          *ngFor="let timing of timingList"
          class="input-group"
        >
          <span> {{ timing.name }} </span>
          <input
            aria-label="time to pomodoro"
            type="number"
            [formControlName]="timing.longName"
            [id]="timing.longName"
          />
        </div>
      </div>
      <div *ngIf="modalForm.invalid && modalForm.touched" class="message-error">
        <p>
          Whoops there an invalid value. Remember, each one timing should be in
          minutes. Min valid value must be:
        </p>
        <ul>
          <li>pomodoro: 25 min.</li>
          <li>shortBreak: 5min</li>
          <li>longBreak: 15mi.</li>
        </ul>
        <p>and max valid value each one must be 60 min.</p>
      </div>
    </div>
    <hr />
    <div class="modal-font">
      <h5>font</h5>
      <div class="fonts">
        <div class="font-group" *ngFor="let font of fontList">
          <label
            [attr.data-title]="font.name"
            [ngClass]="getClass('font', font.value)"
            [for]="font.name"
          >
            <span>Aa</span>
          </label>
          <input
            [value]="font.value"
            formControlName="font"
            type="radio"
            [id]="font.name"
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="modal-colors">
      <h5>colors</h5>
      <div class="colors">
        <div *ngFor="let color of colorList" class="color-group">
          <label
            [attr.data-title]="color.name"
            [ngClass]="getClass('color', color.value)"
            [for]="color.name"
          >
            <i class="icon-check"></i>
          </label>
          <input
            [value]="color.value"
            formControlName="color"
            type="radio"
            [id]="color.name"
          />
        </div>
      </div>
    </div>
    <button
      [disabled]="modalForm.invalid"
      (click)="toggleSave()"
      [ngClass]="getButtonClass()"
    >
      apply
    </button>
  </form>
</section>
