<section *ngIf="isShowModal" class="modal">
  <div class="modal-layer"></div>
  <form
    [ngClass]="modalAnimationClass()"
    [formGroup]="modalForm"
    class="modal-content animate__animated"
  >
    <div class="modal-header">
      <h5>settings</h5>
      <button (click)="toggleModal()">
        <i class="icon-close"></i>
      </button>
    </div>
    <hr />
    <div class="modal-timing">
      <h5>time (minutes)</h5>
      <div class="timing">
        <div class="input-group">
          <span>pomodoro</span>
          <input
            aria-label="time to pomodoro"
            type="number"
            formControlName="pomodoro"
            name="pomodoro"
            id="pomodoro"
          />
        </div>
        <div class="input-group">
          <span>short break</span>
          <input
            aria-label="short break"
            type="number"
            name="short"
            formControlName="shortBreak"
            id="short"
          />
        </div>
        <div class="input-group">
          <span>long break</span>
          <input
            formControlName="longBreak"
            aria-label="long break"
            type="number"
            name="long"
            id="long"
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="modal-font">
      <h5>font</h5>
      <div class="fonts">
        <div class="font-group">
          <label [class.active]="getClass('font', 'kumbh')" for="kumbh"></label>
          <input
            value="kumbh"
            formControlName="font"
            type="radio"
            name="font"
            id="kumbh"
          />
        </div>
        <div class="font-group">
          <label
            [class.active]="getClass('font', 'roboto')"
            for="roboto"
          ></label>
          <input
            value="roboto"
            formControlName="font"
            type="radio"
            name="font"
            id="roboto"
          />
        </div>
        <div class="font-group">
          <label [class.active]="getClass('font', 'mono')" for="mono"></label>
          <input
            value="mono"
            formControlName="font"
            type="radio"
            name="font"
            id="mono"
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="modal-colors">
      <h5>colors</h5>
      <div class="colors">
        <div class="color-group">
          <label [class.active]="getClass('color', 'red')" for="red"></label>
          <input
            value="red"
            formControlName="color"
            type="radio"
            name="color"
            id="red"
          />
        </div>
        <div class="color-group">
          <label [class.active]="getClass('color', 'cyan')" for="cyan"></label>
          <input
            v-loading="cyan"
            formControlName="color"
            type="radio"
            value="cyan"
            name="color"
            id="cyan"
          />
        </div>
        <div class="color-group">
          <label
            [class.active]="getClass('color', 'violet')"
            for="violet"
          ></label>
          <input
            formControlName="color"
            type="radio"
            name="color"
            id="violet"
            value="violet"
          />
        </div>
      </div>
    </div>
    <button (click)="toggleSave()" class="modal-btn">apply</button>
  </form>
</section>
