<section class="timer" (click)="toggle()">
  <button class="timer-btn">
    <svg id="svg" class="progress-ring" height="277" width="277">
      <circle
        id="circle"
        stroke-width="8"
        stroke="#f87070"
        stroke-linecap="round"
        fill="transparent"
        r="120"
        cx="50%"
        cy="50%"
        style="stroke-dasharray: 753.982, 753.982; stroke-dashoffset: 0"
      ></circle>
    </svg>
    <div class="timing">
      <!-- <h2>25:00</h2> -->
      <h2>{{ present(time) }}</h2>
      <span>
        {{ togglePlay ? "paused" : "start" }}
      </span>
    </div>
  </button>
</section>
