.config-btn {
  @apply absolute
  text-base
  flex
  items-center
  justify-center
  gap-2;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  inset-block-end: -25%;
}

.app-content {
  @apply relative;
}
