<!-- <div [classList]="[themeClass]">
  <div class="tab">
    <h1 class="text-9xl">25:00</h1>
  </div>
  <div class="tab">
    <input
      class="outline"
      *ngFor="let timing of timingList"
      [name]="timing.name"
      [id]="timing.name"
      [value]="timing.value"
      type="text"
      (input)="handleInputChange(timing, reference)"
      #reference
      aria-label="config"
    />
  </div>
  <div class="tab">
    <div class="fonts">
      <div class="box" *ngFor="let font of fontList; let i = index">
        <label [for]="font.name"> {{ font.name }} </label>
        <input
          [checked]="currentConfig.font.name === font.name"
          type="radio"
          name="font"
          [id]="font.name"
          aria-label="font"
          (change)="handleChange('font', font)"
        />
      </div>
    </div>
    <div class="colors">
      <div class="box" *ngFor="let color of colorList; let i = index">
        <label [for]="color.name"> {{ color.name }} </label>
        <input
          [checked]="currentConfig.color.name === color.name"
          type="radio"
          name="color"
          [id]="color.name"
          (change)="handleChange('color', color)"
          aria-label="color"
        />
      </div>
    </div>
  </div>
</div>

<button class="outline px-6 py-2" (click)="handleSaveConfig()">
  save config
</button> -->

<div id="app">
  <div class="wrapper">
    <div class="app-content">
      <h1 class="main-title">pomodoro</h1>
      <nav-menu></nav-menu>
      <timer-button> </timer-button>
      <button (click)="toggleModal()" class="config-btn">
        <img src="/assets/screw.svg" alt="screw icon" />
      </button>
    </div>
  </div>
  <modal></modal>
</div>
