@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-violet
  text-moonraker;
  background: #000;
}

#app {
  @apply px-6 pt-8 pb-12;
}

.wrapper {
  @apply relative max-w-[28.125rem]
  mx-auto;
}

.main-title {
  @apply text-2xl
  font-bold
  pb-8
  text-center
  sm:text-3xl;
}

.aqua h1 {
  @apply text-cyan;
}
.roboto-slab {
  @apply font-roboto-slab;
}

.red-radical h1 {
  @apply text-radical-red;
}

.kumbh-sans {
  @apply font-kumbh-sans;
}

.magenta h1 {
  @apply text-magenta;
}

.space-mono {
  @apply font-space-mono;
  font-size: 5px !important;
}

.radical-red .nav-list__item.active {
  @apply bg-radical-red
  text-violet;
}

.magenta .nav-list__item.active {
  @apply bg-magenta text-violet;
}

.cyan .nav-list__item.active {
  @apply bg-cyan text-violet;
}

.radical-red circle {
  @apply stroke-radical-red;
}

.magenta circle {
  @apply stroke-magenta;
}

.cyan circle {
  @apply stroke-cyan;
}
